# Global defines process-level directives such as the maximum number of connections to accept, 
# where to forward logs, 
global
  log 127.0.0.1 local2     # Set remote or local Syslog server addresses to send log files to
  chroot /var/lib/haproxy  # Run the process in a chrooted directory

# By adding defaults to the configuration we can define settings that all other sections below it
# will inherit when applicable.
defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

# Stats page
listen stats
  bind *:8000
  stats enable
  stats show-node
  stats uri /

# Workers API
listen k8s-lb-api
  bind *:6443          # To receive inbound traffic to your load balancer, you must bind a listener to an IP address and port.
  timeout client 3h
  timeout server 3h
  balance roundrobin
  option ssl-hello-chk
  option tcplog
  option tcp-check
  mode tcp
  server k8s-master-node-1 10.0.0.101:6443 check check-ssl verify none inter 10000
  server k8s-master-node-2 10.0.0.102:6443 check check-ssl verify none inter 10000
  server k8s-master-node-3 10.0.0.103:6443 check check-ssl verify none inter 10000

# Workers APP
listen k8s-lb-app
  bind *:443
  timeout client 3h
  timeout server 3h
  balance roundrobin
  option ssl-hello-chk
  option tcplog
  option tcp-check
  mode tcp
  server k8s-master-node-1 10.0.0.101:30443 check check-ssl verify none inter 10000
  server k8s-master-node-2 10.0.0.102:30443 check check-ssl verify none inter 10000
  server k8s-master-node-3 10.0.0.103:30443 check check-ssl verify none inter 10000
  